.body{
    background-color: rgb(224, 224, 224);
}
.romeo{
    color: rgb(0, 73, 110);
    text-align: center;
    tab-size: 60px;
    font-family: 'Times New Roman';
}
.act{
    color: rgb(0, 152, 152);
    font-size: 20px;
    font-family: 'Times New Roman';
}
.text{
    font-family: 'Times New Roman';
}